/* code coment */
:root {
    --main_color:#1B2C6B; 
    --secundary_color:#1B3172; 
    --third_color:#4E6EA2; 
    --fourth_color:#094B97;
}

h1, h2 {
    font-family: 'Poppins', serif;
    color: var(--main_color);
}

p {
    font-family: 'Open Sans', Serif;
    color: black;
    align-self: start;
}

.sociallinks{
    text-decoration: none;
    display: flex;
    gap: 10%;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px; 
}

.hero {
    position: relative; 
    display: flex; 
    justify-content: space-between; 
    align-content: center; 
    margin-bottom: 20px; 
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 5%;
    white-space: pre;
    background-color: white;
    padding: 0.5%;
}

.hero article {
    position: absolute;
    align-content: center;
    width: 80%;
    height: 50%;
    background-color: var(--third_color);
    margin-left: 10%;
    margin-right: 15%;
    margin-top: 20%;
    margin-bottom: 40%;
    border-radius: 2%;
}

.hero article img {
    position: absolute;
    width: 30%;
    left: 65%;
    top: 20%;
}

.hero article p {
    width: 60%;
    text-align: left;
    vertical-align: top;
    padding-left: 3%;
    color: white;
}

