/* code coment */
:root {
    --main_color:#1B2C6B; 
    --secundary_color:#1B3172; 
    --third_color:#4E6EA2; 
    --fourth_color:#094B97;
}

h1, h2 {
    font-family: 'Poppins', serif;
    color: var(--main_color);
}

p {
    font-family: 'Open Sans', Serif;
    color: black;
    align-self: start;
}

.sociallinks{
    text-decoration: none;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5%;
}

.hero {
    position: relative; 
    display: flex; 
    justify-content: space-between; 
    align-content: center; 
    margin-bottom: 20px; 
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 5%;
    white-space: pre;
    background-color: white;
    padding: 0.5%;
}

.hero article {
    position: absolute;
    align-content: center;
    width: 80%;
    height: 50%;
    background-color: var(--third_color);
    margin-left: 10%;
    margin-right: 15%;
    margin-top: 20%;
    margin-bottom: 40%;
    border-radius: 2%;
}

.hero article img {
    position: absolute;
    width: 30%;
    left: 65%;
    top: 20%;
}

.hero article p {
    width: 50%;
    text-align: left;
    top: 2%;
    color: white;
}

section img {
    width: 50%;
}

section p {
    padding-top: 1px;
    margin-top: 1%;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: var(--third_color);
}

.header img {
    margin: 30%;
    width: 70%;
    height: auto;
}

.header nav {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}

.history {
    position: relative;
    width: 100%;
    background-color: white;
    height: auto;
}

.history h2 {
    text-align: center;
    background-color: var(--third_color);
    color: white;
}

.history img {
    width: 30%;
    display: flex;
    margin-left: 3%;
}

.history p {
    position: absolute;
    margin: 3% 4%;
    width: 60%;
    right: 0%;
    left: 33%;
    top: 16%;
}

.adventure {
    width: 100%;
    display: block;
}

.adventure figure {
    margin: 0%;
    padding: 0%;
    justify-content: space-between;
    display: inline-block;
    text-align: center;
    padding-left: 2%;
    padding-bottom: 2%;
}

.adventure figure img {
    width: 80%;
}

.adventure h2 {
    text-align: center;
    white-space: nowrap;
    padding-top: 0%;
    background-color: var(--third_color);
    color: white;
}

footer {
    margin: 0%;
    padding: 0%;
    display: flex;
    background-color: var(--third_color);
    justify-content: space-between;
    align-items: center;
}

footer img {
    width: 15%;
}

footer p {
    width: 5%;
    padding-left: 35%;
    color: white;
    white-space: nowrap;
}


.contact {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 5%;
}

.contact h1 {
    width: 100%;
    text-align: center;
    text-decoration: underline;
}

.contact h2, p {
    padding: 0%;
    position: relative;
    top: 40%;
    left: 15%;
}

.contact .map iframe {
    width: 400px; 
    height: 200px; 
}

.contact .map {
    position: absolute;
    left: 55%;
    top: 20%;
}

.employees {
    display: block;
    width: 100%;
    padding-bottom: 5%;
}

.employees h2 {
    text-align: center;
    text-decoration: underline;
}

.employees figure {
    margin: 0%;
    padding: 0%;
    display: inline-block;
    text-align: center;
    width: 30%;
    padding-left: 2.5%;
}

.form {
    display: block;
    width: 100%;
    padding: 0%;
    margin: 0%;
    background-color: lightblue;
    padding-bottom: 5%;
}

.form h2 {
    text-align: center;
    text-decoration: underline;
    margin-top: 3%;
}

label {
    position: relative;
    left: 10%;
}

input[type="text"],
input[type="email"],
textarea {
    position: relative;
    width: 30%; 
    padding: 5px;
    margin-bottom: 5px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    left: 10%;
}

.form p {
    position: relative;
    left: 10%;
}

input[type="radio"] {
    position: relative;
    left: 10%;
}

input[type="checkbox"]{
    position: relative;
    left: 10%;
}

input[type="submit"]{
    position: relative;
    width: 10%;
    height: 20%;
    left: 10%;
    color: white;
    background-color: var(--third_color);
}